import(tools, Biobase)

exportClasses(SnpSetIllumina, QCIllumina)

exportMethods("[", "[[", "$", annotation, combine, experimentData, exprs, featureNames, 
             pData, phenoData, sampleNames, samples, featureData,
             "annotation<-", "description<-", "experimentData<-", "exprs<-", 
             "featureNames<-", "geneNames<-", "pData<-",
             "phenoData<-", "sampleNames<-", "assayData<-", "featureData<-",
             reporterInfo,"reporterInfo<-",
             dim, assayData, reporterNames, initialize,
						 "arrayType<-", "arrayID<-", arrayType, arrayID,
						 plotQC, reportSamplePanelQC,
						 calculateGSR )

export("read.SnpSetIllumina", backgroundEstimate, backgroundCorrect.SNP,
       normalizeBetweenAlleles.SNP, normalizeWithinArrays.SNP,
       normalizeLoci.SNP, RG2polar, polar2RG, standardNormalization, 
       heterozygousSNPs, compareGenotypes, heterozygosity, 
       reportSamplesSmoothCopyNumber, reportChromosomesSmoothCopyNumber,
       pdfSamplesSmoothCopyNumber, pdfChromosomesSmoothCopyNumber,
       removeLowQualityProbes, removeLowQualitySamples,
			 calculateQCarray, pdfQC, smoothed.intensity, renameOPA,
       calculateLOH, reportGenomeGainLossLOH, pdfChromosomeGainLossLOH,
       reportChromosomeGainLossLOH, reportGenomeIntensityPlot,
       convert2aCGH, convert2SegList, segmentate, reportGenotypeSegmentation )
